<link href="https://fonts.googleapis.com/icon?family=Material+Icons">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

body, html {
  background-color: #fb8822;
}

li {
  @include text-hide;
}
.buttons_position {
    padding: 0 0 0 10px;
    border: 0px;
    margin: 0px;
}
quotes.button {
  border-radius: 50%;
}
.buttons_position a:hover {
    background-image: url("assets/log-311669_960_720.png");
    background-repeat: no-repeat;
    width: 2149px;
    height: 49px;
    padding: 0 0 0 0px;
    border: 0px;
    margin: 0px;
}
.button {
  image: url("assets/log-311669_960_720.png");
  padding-right: 20px;
};
.Navigation {
  padding-right: 20px;
  image: url("assets/log-311669_960_720.png");
};
button.active {
  font-style: normal;
}
/* STYLING FOR STICKY NAVIGATION BAR */
nav.sticky {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  background-color: black;
  background-image: url("assets/navBg.jpeg");
  border-bottom: 10px outset #1E1816;
  padding: 5px;
}
#foot {
text-align:center;
font-style:normal;color:white;
background-color: #556B2F;
background-image: url(assets/navBg.jpeg);
padding: 16px;
background-size: cover;
border-top: 5px groove black;
}
.text-hide {
  background-image:url(assets/log-311669_960_720.png);
}
#firstLinks {
  @include text-hide;

}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="js/bootstrap.min.js"></script>
